{% extends "base.html" %}
{% block body %}
{% load markdownify %}
<div class="{% if bgeffect != '3' %}{{ extra_bg_classes|safe }}{% endif %} fixed top-0 left-0 -z-999">
    <div class="relative">
        <img id="bgimg" src="https://static.vecteezy.com/system/resources/previews/005/741/775/non_2x/realistic-optical-illusion-background-design-free-vector.jpg" class="relative -z-999 w-screen h-screen {% if bgeffect == '3' %}{{ extra_bg_classes|safe }}{% endif %}">
        {% if bg_magnifier_width != "0" %}
        <style>
            .img-magnifier-glass {
                position: absolute;
                /*border: 3px solid #000;*/
                border-radius: 50%;
                /*Set the size of the magnifier glass:*/
                width: {{ bg_magnifier_width }};
                aspect-ratio: 1;
                
                {% if bgeffect == "2" %}
                -webkit-mask-image: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
                mask-image: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
                padding: 10px;
                {% endif %}

            }
        </style>
        <script>
            function magnify(imgID, zoom) {
                var img, glass, w, h, bw;
                img = document.getElementById(imgID);
                /*create magnifier glass:*/
                glass = document.createElement("div");
                glass.setAttribute("class", "img-magnifier-glass");
                /*insert magnifier glass:*/
                img.parentElement.insertBefore(glass, img);
                /*set background properties for the magnifier glass:*/
                glass.style.backgroundImage = "url('" + img.src + "')";
                glass.style.backgroundRepeat = "no-repeat";
                glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
                bw = 3;
                w = glass.offsetWidth / 2;
                h = glass.offsetHeight / 2;
                /*execute a function when someone moves the magnifier glass over the image:*/
                glass.addEventListener("mousemove", moveMagnifier);
                document.addEventListener("mousemove", moveMagnifier);
                /*and also for touch screens:*/
                glass.addEventListener("touchmove", moveMagnifier);
                img.addEventListener("touchmove", moveMagnifier);
                function moveMagnifier(e) {
                    var pos, x, y;
                    /*prevent any other actions that may occur when moving over the image*/
                    e.preventDefault();
                    /*get the cursor's x and y positions:*/
                    pos = getCursorPos(e);
                    x = pos.x;
                    y = pos.y;
                    /*prevent the magnifier glass from being positioned outside the image:*/
                    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
                    if (x < w / zoom) {x = w / zoom;}
                    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
                    if (y < h / zoom) {y = h / zoom;}
                    /*set the position of the magnifier glass:*/
                    glass.style.left = (x - w) + "px";
                    glass.style.top = (y - h) + "px";
                    /*display what the magnifier glass "sees":*/
                    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
                }
                function getCursorPos(e) {
                    var a, x = 0, y = 0;
                    e = e || window.event;
                    /*get the x and y positions of the image:*/
                    a = img.getBoundingClientRect();
                    /*calculate the cursor's x and y coordinates, relative to the image:*/
                    x = e.pageX - a.left;
                    y = e.pageY - a.top;
                    /*consider any page scrolling:*/
                    x = x - window.pageXOffset;
                    y = y - window.pageYOffset;
                    return {x : x, y : y};
                }
            }
            console.log('aaa')
            magnify('bgimg', {{ bg_magnifier_zoom }})
        </script>
        {% endif %}

    </div>
</div>
<div class="overflow-x-clip">
    <div class="w-full h-full">
        <div class="absolute left-0 top-0 w-full h-screen flex justify-center items-center">
            <div>
                <div class="text-center bg-gray-200 p-4 rounded-xl max-w-200">
                    <h1 class="font-display text-5xl text-center text-black mb-4">Twisted</h1>
                    <div class="my-3 font-display">
                        {{ front_text }}
                    </div>
                    {% if rsvp_link %}
                    <a href="{{ rsvp_link }}">
                        <button class="font-display bg-cta text-2xl text-white py-2 px-5 rounded-md">
                            RSVP
                        </button>
                    </a>
                    {% endif %}
                    <a href="#faqs">
                        <button class="font-display bg-cta text-2xl text-white py-2 px-5 rounded-md">
                            FAQs
                        </button>
                    </a>
                    {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}">
                        <button class="font-display bg-cta text-2xl text-white py-2 px-5 rounded-md">
                            Admin panel
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="absolute left-0 top-[100vh] w-full h-screen flex justify-center">
    <div id="faqs" class="w-full h-full">
        <div class="absolute top-0 bottom-0 left-0 right-0">
            <div class="container bg-gray-200 mx-auto min-h-screen rounded-2xl">
                <div class="bg-gray-300 p-4 rounded-t-2xl text-center">
                    <h1 class="font-display text-5xl text-center text-black inline-block">FAQs</h1>
                    {% if user.is_staff %}
                        <a href="{% url 'admin:common_faq_changelist' %}" class="text-blue-600 underline mx-1">
                            (edit)
                        </a>
                        <a href="{% url 'admin:common_faq_add' %}" class="text-blue-600 underline mx-1">
                            (new)
                        </a>
                    {% endif %}
                </div>
                <div class="p-5">
                    <div>
                        <ul>
                            {% for faq in faqs %}
                            <li class="my-5">
                                <table>
                                    <tr>
                                        <td class="pr-3 align-top">Q:</td>
                                        <td class="w-full">{{ faq.question|safe|markdownify|linebreaksbr }}
                                            {% if user.is_staff %}
                                            <a href="{% url 'admin:common_faq_change' faq.pk %}" class="text-blue-600 underline">
                                                (edit)
                                            </a>
                                        </td>
                                    {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="pr-3 align-top">A:</td>
                                        <td>{{ faq.answer|safe|markdownify|linebreaksbr }}</td>
                                    </tr>
                                </table>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
        </div>
        <img src="https://assets.hackclub.com/flag-orpheus-top.svg" class="w-48 ml-20">
    </div>
</div>
{% endblock body %}